version: "3.9"

services:
  backend:
    build: ./backend
    container_name: becontainer
    ports:
      - "5000:5000"
    restart: always

  frontend:
    build: ./frontend
    container_name: fecontainer
    ports:
      - "8000:5173"
    depends_on:
      - backend
    restart: always
